fastapi>=0.115.0
uvicorn[standard]>=0.30.0
pydantic>=2.0.0
pymongo>=4.0.0
certifi
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
msal
requests
python-dotenv
openpyxl>=3.1.0
apscheduler>=3.10
cryptography
google-auth
